 /* 佈告欄START */
 
 .eventwrap {
     position: relative;
     max-width: 900px;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     text-align: center;
     margin: 0 auto;
 }
 
 .boardtop {
     position: relative;
     top: 3vh;
     z-index: 2;
     background-image: url(https://vmo.17.media/2005-tw-city/static/images/city_event_method.png);
     max-width: 880px;
     height: 80px;
     background-repeat: no-repeat;
     background-position: center top;
     flex: auto;

   
 }
 
 .method {
     width: 60%;
     margin: 0 auto;
     margin-top: 150px;
     font-size: 1.5rem;
     font-weight: 600;
     color: white;
     text-align: center;
     @media screen and(max-width: 780px) {
         font-size: 1rem;
     }
 }
 
 .board-mid1 {
     position: relative;
     max-width: 880px;
     min-height: 100px;
     background-image: url(https://vmo.17.media/2005-tw-city/static/images/city_yellow-1.png), url(https://vmo.17.media/2005-tw-city/static/images/city_block_blue.png);
     flex: auto;
     background-repeat: no-repeat;
     background-position: center top;
     background-size: cover;
     @media screen and(max-width: 780px) {
        display: none;
    }
 }
 
 .board-mid2 {
     position: relative;
     z-index: 1;
     max-width: 880px;
     height: 400px;
     font-size: 3.38vw;
     font-weight: 600;
     line-height: 1.43;
     color: rgb(255, 255, 255);
     background-image: url(https://vmo.17.media/2005-tw-city/static/images/city_yellow-2.png), url(https://vmo.17.media/2005-tw-city/static/images/city_block_blue_2.png);
     flex: 0 0 auto;
     background-repeat: repeat-y, repeat-y;
     background-position: center center;
     background-size: contain;
 }
 
 .board-bottom00 {
     position: relative;
     z-index: 0;
     max-width: 880px;
     height: 400px;
     background-image: url(https://vmo.17.media/2005-tw-city/static/images/city_yellow-3.png), url(https://vmo.17.media/2005-tw-city/static/images/city_cloud.png), url(https://vmo.17.media/2005-tw-city/static/images/city_block_blue_3.png);
     background-repeat: no-repeat;
     background-position: center top;
     background-size: contain;
     @media screen and(max-width: 780px) {
         height: 200px;
     }
 }
 
 .contenttitle {
     max-width: 880px;
     display: flex;
     justify-content: center;
     margin: 60px auto 10px;
 }
 /* 佈告欄END */